.app {
  display : flex;
}

.main {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  background-color: #dbdbdb;
}

.homestays {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.homestay {
  margin: 10px;
}

.peta {
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
  background-color: steelblue;
}

